.backimage {
    color: rgb(255, 255, 255);
    background-image: url('./img/812062.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 94vh;
}

.btn-margin-right {
    margin-right: 20px;
}

